img {
    max-width: 100%;
}

.company-name {
    color: #062247;
    font-size: 46px;
}

.company-type {
    color: #062247;
    font-size: 36px;
}

#main-nav a {
    background-color: #062247;
    color: white;
}

#main-nav a:hover {
    background-color: #99b6fa;
    color: #555555;
}